html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper .header {
  width: 100%;
  height: 1.06667rem;
  border-top: solid 0.02667rem #ccc;
  border-bottom: solid 0.02667rem #ccc;
}

.wrapper .header ul {
  width: 100%;
  height: 100%;
}

.wrapper .header ul li {
  width: 50%;
  text-align: center;
  height: 100%;
  float: left;
}

.wrapper .header ul li a {
  display: inline-block;
  padding: 0 0.13333rem;
  line-height: 1.06667rem;
  color: #888888;
  font-size: 0.53333rem;
}

.wrapper .header ul li .active {
  border-bottom: solid 0.05333rem black;
  color: black;
}

.wrapper .content {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
}

.wrapper .content ol {
  width: 100%;
  height: auto;
}

.wrapper .content ol li {
  float: left;
  width: 30%;
  height: 5.33333rem;
  margin-left: 3%;
}

.wrapper .content ol li dl {
  width: 100%;
  height: 100%;
}

.wrapper .content ol li dl dt {
  width: 100%;
  height: 70%;
  margin: 0.26667rem 0;
}

.wrapper .content ol li dl dt img {
  width: 90%;
  height: 100%;
}

.wrapper .content ol li dl dd h5 {
  font-size: 0.37333rem;
}

.wrapper .content ol li dl dd p {
  color: #aaa;
  margin-top: 0.26667rem;
}

.wrapper .conactive {
  display: none;
}
